.mainPaper {
  width: 30%;
  height: 25%;
  background-color: rgba(9, 9, 9, 0.5);
  backdrop-filter: blur(0.1px);
  padding: 16px 16px 16px 16px;
  border: 1px solid rgba(32, 32, 32, 0.8);
  border-radius: 24px;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.mainPaperActive {
  width: 95%;
  height: 85%;
  display: block;
  padding-top: 20px;
}

.searchBlock {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.searchButton {
  border: 2px solid rgba(32, 32, 32, 0.8);
  outline: 0px;
  margin-left: 0px;
  max-height: 43px;
  border-radius: 0px 16px 16px 0px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(28, 28, 28);
  cursor: pointer;
}

.iconSearch {
  filter: invert(100%) sepia(6%) saturate(340%) hue-rotate(255deg)
    brightness(116%) contrast(100%);
}
