.input {
  color: #fff;
  font-weight: 600;
  background-color: rgb(28, 28, 28);
  padding: 12px;
  border: 2px solid rgba(32, 32, 32, 1);
  border-radius: 16px 0px 0px 16px;
  max-height: 43px;
  border: 1px solid rgba(32, 32, 32, 0.8);
}
